<h2>You've visited this page <%= @page_count %> times.</h2>
    <section>
      <div class="row">

        <% @products.each do |product| %>

          <div class="col-sm-4">
            <div class="product_single">
              <h2 class="product_header"><%= product.name %></h2>
              <p>Price: <%= number_to_currency(product.price) %></p>
              <% if product.images.first %>
                <a href="/products/<%= product.id %>" title="View Product"><img src="<%= product.images.first.url %>" alt="<%= product.name %>" class="img-responsive product_single_image"></a>
              <% else %>
                <a href="/products/<%= product.id %>">More info</a>
              <% end %>
              <p>Description: <%= product.description %></p>
            </div>
          </div>
        <% end %>

      </div>
    </section>

