    <section>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="product_single">
            <h1>Create a new nerdy product:</h1>

            <%= form_tag '/products', method: :post do %>

              <div>
                <%= label_tag :name %>
                <%= text_field_tag :name %>
              </div>
              
              <div>
                <%= label_tag :price %>
                <%= text_field_tag :price %>
              </div>
              
              <div>
                <%= label_tag :image %>
                <%= text_field_tag :image %>
              </div>
              
              <div>
                <%= label_tag :description %>
                <%= text_field_tag :description %>
              </div>

              <%= submit_tag "Process New Nerdiness" %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
