  <section>
    <div class="row">    
      <div class="col-sm-8 col-sm-offset-2">
        <div class="product_single">
            <h2><%= @product.name %></h2>
            <h3>Categories</h3>
            <ul>
              <% @product.categories.each do |category| %>
                <li><%= category.name %></li>
              <% end %>
            </ul>
            <% if @product.supplier %>
            <h4>Made by <%= @product.supplier.name %></h4>
            <% end %>
            <% if @product.discounted? %>
              <p>Discount item!</p>
              <p class="discount-item">Price: <%= number_to_currency(@product.price) %></p>
            <% else %>
              <p>Everday value!</p>
              <p>Price: <%= number_to_currency(@product.price) %></p>
            <% end %>
            <p>Tax: <%= number_to_currency(@product.tax) %></p>
            <p>Total: <%= number_to_currency(@product.total) %></p>
            <% @product.images.each do |image| %>
              <img src="<%= image.url %>" alt="<%= @product.name %>" class="img-responsive">
            <% end %>
            <p>Description: <%= @product.description %></p>
            <%= link_to "Edit", "/products/#{@product.id}/edit", class: "btn btn-success" %>
            <%= link_to "Delete", "/products/#{@product.id}", {method: :delete, class: "btn btn-danger" }%>
            <%= form_tag "/carted_products", method: :post do %>
              Quantity: <input type="text" name="quantity">
              <input type="hidden" name="product_id" value="<%= @product.id %>">
              <input type="submit" value="Add to cart!">
            <% end %>
        </div>
      </div>
    </div>
  </section>
